<div th:fragment="addBudget" th:id="budgetContainer">
    <h1>Budget Tracker</h1>
    <h2>Add Budget</h2>

    <form th:action="${isAdmin ? '/admin/budget/save' : '/budget/save'}" th:object="${budgetList}" method="post">
        <div th:each="budget, status : *{budgets}">
            <span th:if="*{budgets.get(__${status.index}__).getId() != null}">
                <input type="hidden" th:field="*{budgets[__${status.index}__].id}"/>
            </span>
            <div class="form-group" th:if="${status.index == 0}">
                <label>Month: <span class="text-danger">*</span></label>
                <label for="month"></label>
                <input type="month"
                       onchange="reloadBudget(this.value)"
                       id="month"
                       th:field="*{budgets[__${status.index}__].month}" required/>
                <span th:if="${#fields.hasErrors('budgets[__${status.index}__].month')}"
                      th:errors="*{budgets[__${status.index}__].month}" class="text-danger"></span>
            </div>
            <span th:fragment="budgetData" th:id="'budgetContainer' + ${status.index} ">
                <span th:if="${status.index > 0}">
                    <input type="hidden" th:field="*{budgets[__${status.index}__].month}"/>
                        <input type="hidden" name="id" th:field="*{budgets[__${status.index}__].id}"/>
                        <button type="submit" name="DelRow" th:value="${status.index}">delete</button>
                </span>

                <div class="form-group">
                    <label for="category">Category: <span class="text-danger">*</span></label>
                    <select id="category" th:field="*{budgets[__${status.index}__].category}" required>
                <option value="" selected>Select a category</option>

                        <option th:each="category : ${categories}" th:value="${category.name}"
                                th:text="${category.name}">?</option>
                    </select>
                    <span th:if="${#fields.hasErrors('budgets[__${status.index}__].category')}"
                          th:errors="*{budgets[__${status.index}__].category}" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="monthlyLimit">Monthly Limit: <span class="text-danger">*</span></label>
                    <input id="monthlyLimit" type="number" th:field="*{budgets[__${status.index}__].monthlyLimit}"
                           min="0"
                           step="0.50" required/>
                    <span th:if="${#fields.hasErrors('budgets[__${status.index}__].monthlyLimit')}"
                          th:errors="*{budgets[__${status.index}__].monthlyLimit}" class="text-danger"></span>
                </div>
            </span>
        </div>

        <div th:if="${duplicate}" th:text="${duplicate}" class="text-danger">

        </div>
        <button type="submit" name="addRow">Add row</button>
        <button type="submit" name="save">Save</button>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script th:src="@{/css/js/global.js}"></script>
</div>