<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/my-expenses.css}"  />

</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container">
    <h1>My Expenses</h1>
    <div class="filter-container">
        <form th:method="post" th:action="@{/expense/filter}" id="filter-form">
            <label for="category-filter">Filter by Category:</label>
            <select id="category-filter" name="category" onchange="submitForm()">
                <option value="">All</option>
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}" th:selected="${categoryValue != null && categoryValue == category.name}"></option>
            </select>

            <label for="date-filter">Filter by Date:</label>
            <input type="date" id="date-filter" name="date" th:value="${dateValue != null ? dateValue : ''}" onchange="submitForm()">
        </form>


        <script>
            function submitForm() {
                document.getElementById("filter-form").submit();
            }
        </script>

    </div>
    <table id="expenses-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through user's expenses -->
        <tr th:each="expense : ${expenses}" class="expense-row">
            <td th:text="${expense.getUser()}"></td>
            <td th:text="${expense.category}"></td>
            <td>
                <span class="amount" th:text="${expense.amount}"></span>
            </td>
            <td th:text="${expense.date}"></td>
            <td th:text="${expense.notes}"></td>
            <td>
                <div class="button-container">
                    <form th:action="${isAdmin ? '/admin/expense/edit' : '/expense/edit'}" method="post">
                        <input th:type="hidden" th:name="id" th:value="${expense.id}">
                        <button type="submit" class="btn btn-link">
                            <i class="fas fa-edit"></i>
                        </button>
                    </form>
                    <form th:action="${isAdmin ? '/admin/expense/del' : '/expense/del'}" method="post">
                        <input th:type="hidden" th:name="id" th:value="${expense.id}">
                        <button type="submit" class="btn btn-link">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr id="total-row" class="amount">
            <td colspan="2">Total</td>
            <td id="total-amount"></td>
        </tr>
        </tfoot>
    </table>
    <a class="btn btn-primary" th:if="${!isAdmin}" th:href="@{/expense/add}">Add Expense</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
